.ofertas-lista {
  padding-top: 60px;
  padding-bottom: 60px;
}

.ofertas-lista h2 {
  text-transform: uppercase;
  font: 700 3rem/1 "Roboto", sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.ofertas-lista h2::before {
  content: "";
  width: 14px;
  height: 6px;
  background: var(--color-5);
  display: inline-block;
  margin-right: 10px;
}

.ofertas-lista ul {
  display: flex;
  gap: 40px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 20px 20px;
  overflow-x: auto;
}

.ofertas-lista a {
  display: block;
}

.oferta-card {
  flex: 1;
  min-width: 300px;
  background: var(--color-0);
  border-radius: 7px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.oferta-card:hover {
  transform: translateY(5px);
}

.card-conteudo {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
}

.card-localizacao {
  grid-column: 1/-1;
  display: block;
  font: 400 0.875rem/1.25 "Roboto", sans-serif;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.card-localizacao::before {
  content: url("../../img/icons/location-icon.svg");
  display: inline-block;
  width: 14px;
  width: 20px;
}

.card-conteudo p {
  font: 600 1.125rem/1 "Roboto", sans-serif;
}

.card-conteudo span + p {
  grid-column: 1/-1;
  margin-bottom: 40px;
}

.card-valor {
  display: flex;
  gap: 8px;
  justify-content: end;
  align-items: baseline;
  align-self: flex-end;
}

.card-valor > span {
  font: 400 0.875rem/1.15 "Roboto", sans-serif;
}

@media (max-width: 800px) {
  .ofertas-lista ul {
    gap: 20px;
  }
}
