:root {
  --color-0: #ffffff;
  --color-1: #000000;
  --color-2: #858585;
  --color-3: #ff891d;
  --color-4: #ff5c00;
}

.color-0 {
  color: var(--color-0);
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.color-4 {
  color: var(--color-4);
}
